@import '../../style/color.scss';
page{
  background: #f4f4f4;
  height: 100%;
  .sticky-tabs{

  }
  .swiper {
    width: 100%;
    height: 250rpx;
  
  
    .swiper-container {
      width: 100%;
      height: 100%;
  
      .swiper-item {
        width: 100%;
        height: 100%;
        border-radius: 5rpx;
  
        .slide-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  
  .list{
    margin-bottom: 110rpx;
  
    .title {
        padding: 35rpx 0;
        background: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .line{
            display: inline-block;
            height: 1rpx;
            width: 100rpx;
            background: #ccc;                
        }
        .text {
            padding: 0 25rpx;
            background: #fff;                
        }
    }
  
    .body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 730rpx;
        margin: 0 auto;
        padding-top: 10rpx;

        .list-item{
            width: 350rpx;
            background: #fff;
            margin-bottom: 10rpx;
            padding-bottom: 10rpx;
            border-radius: 10rpx;
            // box-shadow: 5rpx 5rpx 3rpx #b4b4b4;
            margin: 10rpx auto;


            .item-image{
              display: block;
              width: 302rpx;
              height: 302rpx;
              margin: 0 auto;        
          }  
            .title-container {
              padding: 0rpx 48rpx;
              .item-title{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 98%;
                margin-bottom: 5rpx;
                font-size: 34rpx;
            }      
            .item-subtitle{
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 98%;
              margin-bottom: 5rpx;
              font-size: 24rpx;
              color: #999;

            }             
            .item-price{
                color: #9c3232;
                margin-bottom: 5rpx;
            }                   
            }
 

        }
    }
  }
}
