.wrap {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .content {
    width: 100%;
    margin-right: 0;
    transition: all 0.4s;
    transform: translateX(90px);
    margin-left: -90px;
    position: relative;
  }

  .del {
    width: 90px;
    background-color: #e25252;
    transition: all 0.4s;
    transform: translateX(90px);
    position: relative;

    &__text {
      top: 50%;
      left: 50%;
      position: absolute;
      color: #fff;
      font-size: 15px;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }
}

.animate {
  .del {
    transform: translateX(0);
  }

  .content
  {
    transform: translateX(0);
  }
}
